@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); /* Importação de fonte.*/ 

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    background-color: black;
    color: #FFFFFF;
}

a, a:hover, a:visited{ /* Hover: Quando passa o mouser em cima. Visited: Quando o link já foi visitado. Sem marcações/sem formatações. */
    color:unset;
    text-decoration: none;
}

/* Alteração do posicionamento do CABEÇALHO */

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%); /* Coloração degradê fundo.*/
    height: 220px;
    display: flex; /* Mudança de alinhamento por meio do display flex */
    align-items: center; /* Alinhar os textos e imagens ao centro.*/
    justify-content: center; /* Alinhar os textos e imagens ao centro na horizontal.*/
}

/* Estilozação de Classe 
    Sempre inserir o ponto na frente do nome da classe para efetuar as estilizações, chamda da classe.
*/

.dsmeta-logo-container {
    display: flex; /* Mudança de alinhamento por meio do display flex */
    flex-direction: column; /* flex direction, direção do flex, auxiliar em colunas. */
    align-items: center; /* Alinhar os textos e imagens ao centro.*/
}

/* Classe contendo um IMG sendo qualquer IMG que estiver dentro do dsmetalogocontainer terão as propriedades */
.dsmeta-logo-container img { 
    width: 235px;
}

/* Alteração do H1 (Título) chamando uma classe dsmetalolgocontainer */

.dsmeta-logo-container h1 {
    margin-top: 15px; /* Tag margin-top, dá o espaçamento na margem superior.*/
    font-size: 24px; /* Tag para tamanho da fonte.*/
}

.dsmeta-logo-container p {
    font-size: 14px; /* Tag para tamanho da fonte.*/
    font-weight: 300; /* Tag para peso da fonte.*/
}

/* --------------------------------- ESTILIZAÇÃO DO CARD - SEGUNDA PARTE RELATÓRIO -----------------------------.*/

/* Alteração do CARD Retangulo */

.dsmeta-card {
    background-color: #283142; /* Cor de fundo do card.*/
    border-radius: 10px; /* Raio da borda.*/
    padding: 30px 10px; /* Espaçamento interno 30px Vertical 10px Lateral.*/
}

/* Alteração do controlador de largura. */

.dsmeta-container {
    width: 100%; /* Largura toda da tela. */
    max-width: 900px; /* Delimitação da largura. */
    margin: 0 auto; /* Alinhando o Div ao centro da página. */
}

.ds-meta-sales-title {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px; /* Margem abaixo (bottom) */
}

/* Seleção de ID espaçamento formatação. */
#Sales {
    padding: 40px 10px; /* Espaçamento interno. 40px: Vertical e 10px: Lateral */
}

/* Estilização das caixas INPUT */

.dsmeta-form-control {
    height: 46px; 
    width: 100%;
    background-color: #1B2531;
    border: 1px solid #384459; /* Bordas sólidas com a coloração #384459 */
    border-radius: 5px;
    color: #9AAABE;
    padding: 0px 20px; /* Espaçamento do texto. */
    font-size: 18px;
}

/* Estilização do espaçamento entre as caixas INPUT Div<>*/

.dsmeta-form-control-container{
    margin-bottom: 16px;
    max-width: 300px;
}

/* Estilização da tabela tag table>*/
.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0; /* Espaçamento entre as bordas da tabela>*/
    border-collapse: collapse;
}

/* Estilizaçãodo cabeçalho campos*/

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700; /* Transforma a fonte em negrito */
}

/* Estilização do corpo da tabela*/
.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
}

/* Estilização da Linha da tabela*/
.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82; /* Bordas somenta acima.*/
    text-align: center; /* Alinhamento ao centro.*/
}

/* Estilização da Linha da tabela*/

.dsmeta-sales-table tbody tr:nth-child(odd) { /* O TR table row: nth-child significa trazer qual o filho (child) de tr, sendo o filho ímpar em 'odd - ímpar'.*/
    background-color: #242C3B; /* Quando a linha for ímpar inserir o background color.*/
}

.dsmeta-sales-table tbody tr:hover > td { /* O 'tr:Hover' significa quando passa o mouser em cima. Já o maior (>) maior TD só de passar o mouser na linha fará o efeito.*/
background-color: #384459;
}

/* Estilização do botão vermelho*/

.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex; /* Mudança de alinhamento por meio do display flex */
    align-items: center; /* Alinhar os textos e imagens ao centro.*/
    justify-content: center; /* Alinhar os textos e imagens ao centro na horizontal.*/
    cursor: pointer; /* Habilita a 'mãozinha' por cima da imagem.*/
}

/* Estilização da largura do botão vermelho.*/
.dsmeta-red-btn img {
    width: 19px;
}

.dsmeta-red-btn-container {
    display: flex;
    justify-content: center;
}

/* Estilização da coluna e linha responsividade.*/
.show576{
    display: none; /* Não mostrar a coluna th data.*/

}

/* @media realiza a apresentação do width a partir do 576 mostre o elemento.*/

@media (min-width: 576px) { /* Somenta a partir da largura 576 mostrará o elemento data por meio do comando @media.*/
    .show576{
        display: table-cell; /* Table cell, elemento normal de display da tabela.*/
    
    }

    .dsmeta-card { /* Realiza a mudança de padding espaçamento quando chega nos 576px.*/
        padding: 35px; 
    }
    .dsmeta-sales-table tbody tr{
        height: 55px ;
    }
    .dsmeta-sales-table tbody {
        font-size: 18px;
    }
}

/* @media realiza a apresentação do width a partir do 992px mostre o elemento.*/

.show992 {
    display: none;
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}
